{% extends "base.html" %}
{% block title %}Completed Bids{% endblock %}
{% block content %}
<h1>Completed Bid List</h1>
{% if player_bids %}
<table class="table table-bordered table-hover table-sm">
    <thead class="thead-dark">
    <th scope="col">No.</th>
    <th scope="col">Player</th>
    {% for member in header %}
    <th scope="col" style="background-color:{{member.bgcolor}}; color:{{member.color}}; text-align:center">
        {{member.user.username.upper}}
    </th>
    {% endfor %}
    </thead>
    <tbody>
    {% for player_bid in player_bids %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <th scope="row">{{player_bid.player}}</th>
        {% for member in player_bid.members %}
        <td {% if member.winner %}class="table-success"{% endif %} style="text-align:center">
            {% if member.winner %}<strong>{% endif %}
            {{member.amount}}
            {% if member.winner %}</strong>{% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>There are no completed bids as of now.</p>
{% endif %}
{% endblock %}