{% extends "base.html" %}
{% block title %}IPL Rankings{% endblock %}
{% block content %}
<h1>Fantasy IPL Rankings</h1>
{% if member_list %}
<table class="table table-bordered">
    <thead class="thead-dark">
    <th scope="col">Rank</th>
    <th scope="col">Name</th>
    <th scope="col">Points</th>
    <th scope="col">Balance</th>
    </thead>
    <tbody>
    {% for member in member_list %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{member.name}}</td>
        <td>{{member.points}}</td>
        <td>{{member.balance}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No Members Added</p>
{% endif %}
{% endblock %}